body {
    background-color: grey;
}

h1 {
    color: red;
}

th {
    font-size: 20px;
    color: red;
    font-style: none;
}

td {
    font-size: 20px;
    color: orangered;
    font-style: none;
}